version: '3.7'
services:
#    generator:
#        build: ./generator/
#        networks:
#            - api
    rabbit:
        image: rabbitmq:management 
        ports:
            - "15672:15672"
            - "5672:5672"
        networks:
            - api 
#    api:
#        build: ./api/
#        networks:
#           - api
    gui:
        build: ./GUI/
        ports:
            - "80:80"
        networks:
            - api
    mongo:
        image: mongo
        restart: always
        environment:
            MONGO_INITDB_ROOT_USERNAME: root
            MONGO_INITDB_ROOT_PASSWORD: password
    mongo-express:
        image: mongo-express
        restart: always
        ports:
          - 8081:8081
        environment:
            ME_CONFIG_MONGODB_ADMINUSERNAME: root
            ME_CONFIG_MONGODB_ADMINPASSWORD: example
            ME_CONFIG_MONGODB_URL: mongodb://root:password@mongo:27017/
networks:
    api:
        driver: bridge



    

