version: '3.7'
services:
    rabbit:
        image: rabbitmq:management 
        ports:
            - "15672:15672"
            - "5672:5672"
    generator:
        build: ./generator/
        restart: always
        depends_on:
            - rabbit
    api:
        build: ./api/
        restart: always
        depends_on:
            - rabbit
    gui:
        build: ./GUI/
        ports:
            - "80:80"

#    mongo:
#        image: mongo
#        restart: always
#        environment:
#            MONGO_INITDB_ROOT_USERNAME: root
#            MONGO_INITDB_ROOT_PASSWORD: password
#        ports:
#            - "27017:27017"
#    mongo-express:
#        image: mongo-express
#        restart: always
#        ports:
#          - 8081:8081
#        environment:
#            ME_CONFIG_MONGODB_ADMINUSERNAME: root
#            ME_CONFIG_MONGODB_ADMINPASSWORD: password
#            ME_CONFIG_MONGODB_URL: mongodb://root:password@mongo:27017/




    

